body {
    background-color: bisque;
}

nav {
    
    background-color: chocolate;
    color: rgb(255, 247, 238);
}

#navmenu {
    text-align: center;
}

#webName{
  margin-top: 15%;
  text-align : center;
  margin-bottom : 15%;
}

#homeInfo{
  margin-left: 0%;
  margin-right:0%;
}

.btn {
  border: 2px solid black;
  background-color: rgb(253, 156, 156);
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Green */
.comp {
  border-color: #04AA6D;
  color: green;
}

.comp:hover {
  background-color: #04AA6D;
  color: white;
}
body{
    background-image: url(/photo-1518531933037-91b2f5f229cc.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

.chat-btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
}

/*
.close-btn{
    position: absolute;
    font-size: 20px;
    right: 0;
    margin: 15px;
    cursor: pointer;
}
*/

.content {
    position: fixed;
    bottom: 0;
    right: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.full-chat-block {
    width: 350px;
    background: rgba(255,255,255, 0.1);
    backdrop-filter: blur(15px);
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

#chat-icon:hover {
    opacity: .7;
}

   /* Chat bubbles */

#userInput {
    width: 97%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
    transform: translateY(14px);
    opacity: .0;
    }
    to {
    transform: translateY(0px);
    opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
    width: 100%;
    border-radius: 0px;
    }
    .chat-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    }
    .content {
    width: 100%;
    border: 0px;
    border-top: 3px solid white;
    border-radius: 0px;
    }
}
