body {
  background-color: bisque;
}

nav {
  background-color: chocolate;
  color: rgb(255, 247, 238);
}

#navmenu {
  text-align: center;
  font-size: large;
}
#logo {
  width: 142.5px;
  height: 142.5px;
  margin-left: -100px;
  float: left;
}

h1 {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h2 {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#form {
  text-align: center;
  color: red;
}
input {
  padding: 5px 10px;
  display: block;
  text-align: left;
}
#rules {
  white-space: pre-line;
  text-align: left;
  font-size: 17.5px;
  padding-left: 120px;
}
form {
  display: block;
  text-align: left;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 50px;
}
#Fun_Icon {
  vertical-align: middle;
  margin: 50px 0px;
  float: right;
}
#Comp_Icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 350px;
  height: 350px;
}
#button {
  padding-left: 150px;
}
#Description{
  display: block;
  text-align: left;
}